<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Geocaching toolbelt</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="tags" content="geocaching, toolbelt, toolbox, tools, mysterie, woordzoeker, zwaartepunt, middenpunt, coordinaten, stapeltellen, woordwaarde">
    <meta http-equiv="Cache-control" content="public, max-age=3600">

    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <partial name="_AnalyticsPartial.cshtml">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                    @Html.ActionLink("Home", "Index", "Home", null, new {@class = "nav-link"})
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "WordValue" ? "active" : "")">
                    @Html.ActionLink("Woordwaarde", "Index", "WordValue", null, new {@class = "nav-link"})
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "WordMask" ? "active" : "")">
                    @Html.ActionLink("Woordenboek filter", "Index", "WordMask", null, new {@class = "nav-link"})
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Centroid" ? "active" : "")">
                    @Html.ActionLink("Zwaartepunt", "Index", "Centroid", null, new {@class = "nav-link"})
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          <a href="https://www.geocaching.com/p/default.aspx?guid=6df1e334-04fb-4a66-adba-22e7abe8520e" target="_blank" rel="noopener noreferrer">
            @Html.Raw("@noodlesoep")
          </a>
        </span>
      </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
