@model MapData
@{string maps = "leaflet";}
<div style="width: 100%; height: 480px" id="mapContainer"></div>

<div data-container="coordinates" style="display: none;"
     data-line="@Model.Line">
    @foreach (var coord in Model.Coordinates)
    {
        <coord data-lat="@coord.Latitude" data-long="@coord.Longitude" data-radius="@Model.Radius"></coord>
    }
    @foreach (var cache in Model.Geocaches)
    {
        <coord data-lat="@cache.Coordinate.Latitude" data-long="@cache.Coordinate.Longitude" data-title="@cache.Title" data-gccode="@cache.GCCode" data-radius="@Model.Radius"></coord>
    }
    @if (@Model.Hightlight != null)
    {
        <coord data-lat="@Model.Hightlight.Latitude"
               data-long="@Model.Hightlight.Longitude"
               data-color="red"
               data-radius="@Model.Radius"></coord>
    }
</div>

@if (maps == "here")
{
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />

    <script src="~/js/here-maps.js" asp-append-version="true"></script>
}
else if (maps == "leaflet")
{
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <script src="~/js/leaflet-maps.js" asp-append-version="true"></script>
}