@model MapData
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />

<div style="width: 100%; height: 480px" id="mapContainer"></div>

<div data-container="coordinates" style="display: none;">
    @foreach (var coord in Model.Coordinates)
    {
        <coord data-lat="@coord.Latitude" data-long="@coord.Longitude" />
    }
    @if (@Model.Hightlight != null)
    {
        <coord data-lat="@Model.Hightlight.Latitude"
               data-long="@Model.Hightlight.Longitude"
               data-color="red"
               data-radius="@Model.Radius" />
    }
</div>

<script>
    var platform = new H.service.Platform({
        apikey: '085vI9e-1LGilWPe4uURCrUuWpeLEW6V9GEO5whB95Q',
        app_id: 'QsrKH3biseeWWjfyTJgL',
        app_code: 'hyceuC1PnpUZBZLHaHzLfA'
    });

    var defaultLayers = platform.createDefaultLayers();

    var map = new H.Map(
        document.getElementById('mapContainer'),
        defaultLayers.vector.normal.map,
    );

    // Add coords
    var group = new H.map.Group();

    document.querySelectorAll("[data-container='coordinates'] coord").forEach(coord => {
        var latitude = parseFloat(coord.dataset.lat);
        var longitude = parseFloat(coord.dataset.long);
        var radius = parseFloat(coord.dataset.radius);
        coords = { lat: latitude, lng: longitude };
        var pngIcon = new H.map.Icon("/images/marker-" + (coord.dataset.color != undefined ? coord.dataset.color : "blue") + ".png");
        
	    var marker = new H.map.Marker({
		    lat: latitude,
            lng: longitude
        }, { icon: pngIcon });

        if (radius) {
            marker = new H.map.Circle(
                { lat: latitude, lng: longitude },
                radius,
                {
                    style: {
                        strokeColor: 'rgba(55, 85, 170, 0.6)', // Color of the perimeter
                        lineWidth: 2,
                        fillColor: 'rgba(0, 128, 0, 0.3)'  // Color of the circle
                    }
                }
            );
        }

        group.addObject(marker);
    });

    map.addObject(group);

    map.getViewModel().setLookAtData({
        bounds: group.getBoundingBox()
    });

    var ui = H.ui.UI.createDefault(map, defaultLayers);
    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

</script>
