@{
    ViewBag.Title = "Bogus projectie";
    ViewBag.Description = "Projecteer een 2 mile cirkel om het bogus coord en vind de range waarin je moet puzzelen in verschillende coordinaat formaten.";
}
<h1>Bogus projectie</h1>
<div class="mb-3">
    Projecteer een 2 mile cirkel om het bogus coordinaat en vind de range waarin je moet puzzelen.<br />
    Deze range wordt in verschillende coordinaat formaten getoond.
</div>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<form method="post">
    <div class="form-group">
        <label for="coords">Coördinaat</label>
        <input type="text" class="form-control" name="coord" id="coords" aria-describedby="coordHelp" value="@(ViewBag.Center is Coordinate ? ViewBag.Center.GetWSG84() : "")" />
        <small id="coordHelp" class="form-text text-muted">WSG84 of decimaal formaat</small>
    </div>
    <div class="form-group">
        <label for="coords">Afstand</label>
        <input type="number" step="0.001" class="form-control" name="meter" id="meter" aria-describedby="meterHelp" value="@(ViewBag.Meter ?? "3218.688")" />
        <small id="meterHelp" class="form-text text-muted">Aantal meter projecteren. De bogus afstand is max 2 mile (3218 meter)</small>
    </div>

    <button type="submit" class="btn btn-primary">Bereken</button>
</form>

@if (ViewBag.Center is Coordinate
  && ViewBag.Nord is Coordinate
  && ViewBag.East is Coordinate
  && ViewBag.South is Coordinate
  && ViewBag.West is Coordinate) {

<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">Bogus</h5>
        <p class="card-text">
            <partial name="~/Views/Shared/_CoordinatePartial.cshtml" model="ViewBag.Center" />
        </p>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">Projecties</h5>
        <p class="card-text">

            <div class="table-responsive mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:300px;">&nbsp;</th>
                            <th>Latitude van</th>
                            <th>Latitude tot</th>
                            <th>Longitude van</th>
                            <th>Longitude tot</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>WSG84</td>
                            <td>@ViewBag.South.GetWSG84Latitude()</td>
                            <td>@ViewBag.Nord.GetWSG84Latitude()</td>
                            <td>@ViewBag.West.GetWSG84Longitude()</td>
                            <td>@ViewBag.East.GetWSG84Longitude()</td>
                        </tr>
            
                        <tr>
                            <td>Decimaal</td>
                            <td>@ViewBag.South.Latitude.ToString("0.00000")</td>
                            <td>@ViewBag.Nord.Latitude.ToString("0.00000")</td>
                            <td>@ViewBag.West.Longitude.ToString("0.00000")</td>
                            <td>@ViewBag.East.Longitude.ToString("0.00000")</td>
                        </tr>
            
                        <tr>
                            <td>RD</td>
                            <td>@Math.Round(ViewBag.South.GetRD().Y)</td>
                            <td>@Math.Round(ViewBag.Nord.GetRD().Y)</td>
                            <td>@Math.Round(ViewBag.West.GetRD().X)</td>
                            <td>@Math.Round(ViewBag.East.GetRD().X)</td>
                        </tr>

                        <tr>
                            <td>UTM (@ViewBag.Center.GetUTM().Grid)</td>
                            <td>@Math.Round(ViewBag.South.GetUTM().Y)</td>
                            <td>@Math.Round(ViewBag.Nord.GetUTM().Y)</td>
                            <td>@Math.Round(ViewBag.West.GetUTM().X)</td>
                            <td>@Math.Round(ViewBag.East.GetUTM().X)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
                
        </p>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">Kaart</h5>
        <p class="card-text">
            @{
                var data = new MapData();
                data.Hightlight = ViewBag.Center;
                data.Radius = ViewBag.Meter ?? 3218.688;
            }
            <partial name="~/Views/Shared/_MapPartial.cshtml" model="data" />
        </p>
    </div>
</div>
}
