@{
    ViewBag.Title = "Geometrisch zwaartepunt";
    ViewBag.Description = "Bereken het geometrische zwaartepunt van een coordinaten";
}
<h1>Geometrisch zwaartepunt</h1>
<div class="mb-3">
    Bereken het geometrische zwaartepunt (middenpunt) van een aantal coordinaten.<br />
    Door 3 coordinaten in te voeren bereken je bijvoorbeeld het zwaartepunt van een driehoek.
</div>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<form method="post">
    <div class="form-group">
        <label for="coords">Coordinaten</label>
        <textarea class="form-control" name="coords" id="coords" rows="4" aria-describedby="coordHelp">@ViewBag.Coords</textarea>
        <small id="coordHelp" class="form-text text-muted">1 coordinaat per regel<br />WSG84 of decimaal formaat</small>
    </div>

    <button type="submit" class="btn btn-primary">Bereken</button>
</form>

@if (ViewBag.Centroid is Coordinate)
{
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Middenpunt</h5>
            <p class="card-text">

                <div class="form-group row">
                    <label for="wsgResult" class="col-sm-2 col-form-label">WSG84</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="wsgResult" value="@ViewBag.Centroid.GetWSG84()">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="decimalResult" class="col-sm-2 col-form-label">Decimaal</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="decimalResult" value="@ViewBag.Centroid.GetDecimal()">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="RDResult" class="col-sm-2 col-form-label">RD</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="RDResult" value="@ViewBag.Centroid.GetRD().X, @ViewBag.Centroid.GetRD().Y">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="UTMResult" class="col-sm-2 col-form-label">UTM</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="UTMResult" value="@ViewBag.Centroid.GetUTM().Grid @Math.Round(ViewBag.Centroid.GetUTM().X) @Math.Round(ViewBag.Centroid.GetUTM().Y)">
                    </div>
                </div>

            </p>
        </div>
    </div>  

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Kaart</h5>
            <p class="card-text">
                @{
                    var data = new MapData();
                    data.Coordinates = ViewBag.Coordinates;
                    data.Hightlight = ViewBag.Centroid;
                }
                <partial name="~/Views/Shared/_MapPartial.cshtml" model="data" />
            </p>
        </div>
    </div>
}
